# Operating System Files
## Mac OS X 
.DS_Store
## Windows
desktop.ini

*_history
history

# Directorys
## alot

## asciinema
asciinema/install-id

## binding

## cmus
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/queue.pl
cmus/resume
cmus/search-history

## coven

## defaults

## fish shell
fish/fish_history
fish/fish_variables
fish/fishd.*

## getmail
getmail/*
!getmail/getmailrc

## git

## grimoire
grimoire/logs

## hero

## Hg (Mercurial)

## htop

## keybase
keybase/*

## khal

## khard

## kitty

## lldb

## mailcap

## mlvwm

## msmtp

## nano

## necromancy
necromancy/trace.log

## nimble

## notmuch

## proselint

## pt

## pypi (pip)

## rune

## scripts

## storage

## tig

## tmux

## todoman

## tootstream

## Transmission
transmission/

## vdirsyncer
vdirsyncer/status

## voltron

## w3m

## yarn
yarn/*
!yarn/yarnrc


