.DS_Store

asciinema/install-id
keybase/

fish/fish_history

transmission/

sdkbuild/

micro/buffers/

getmail/*

vdirsyncer/*
!vdirsyncer/config

storage/*
!storage/keys.keychain
!storage/secure

weechat/logs/*

weechat/*.log
weechat/sec.conf
weechat/script/plugins.xml.gz

maid/maid.log

cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/queue.pl
cmus/resume
cmus/search-history

necromancy/trace.log

yarn/

*~
emacs.d/elpa/archives/
emacs.d/recentf

configstore

fish/fishd.*
