# Operating System Files
## Mac OS X 
.DS_Store
## Windows
desktop.ini



# Directorys
## alot

## asciinema
asciinema/install-id

## binding

## cmus
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/queue.pl
cmus/resume
cmus/search-history

## coven

## defaults

## emacs

old-emacs/
# (directory of old config, being rewritten)

\#*\#
# (backup file)

*~
# (backup file)

emacs.d/elpa/
emacs.d/auto-save-list
emacs.d/.last-package-update-day
emacs.d/recentf

## fish shell
fish/fish_history
fish/fishd.*

## getmail
getmail/*

## git

## goaccess

## grimoire
grimoire/logs/*


## hero

## Hg (Mercurial)

## htop
htop/*

## hyper

## keybase
keybase/*

## khal

## khard

## kitty

## kwpolska (upass)

## lldb

## mailcap

## micro
micro/buffers/*

## mlvwm

## msmtp

## nano
nano/search_history

## necromancy
necromancy/trace.log

## nimble

## notmuch

## proselint

## pt

## Pulse Audio
pulse/*

## pypi (pip)

## rune

## scripts

## storage
storage/*
!storage/secure

## tig

## tmux

## todoman

## tootstream

## Transmission
transmission/

## vdirsyncer
vdirsyncer/status/*
!vdirsyncer/config

## voltron

## w3m
w3m/history

## weechat
weechat/logs/*
weechat/*.log
weechat/sec.conf
weechat/script/plugins.xml.gz

## yarn
yarn/*
!yarn/yarnrc

# Applications
## Node
configstore/*
insight-nodejs/*
**/node_modules/**


