[Mailing Lists]
rule1 = "any bug-texinfo@gnu.organy"
rule2 = "any cocoaheadsboston@googlegroups.com"
rule3 = "from security-announce-request@lists.apple.com"
rule4 = "from macbeta@list.valvesoftware.com"
rule5 = "from product-security-noreply@lists.apple.com" 
rule6 = "from darwin-dev@lists.apple.com"
rule7 = "to darwin-dev@lists.apple.com"
rule8 = "any darwin-dev@lists.apple.com"
rule9 = "to Women-Who-Code-Boston-list@meetup.com"

[CircleCI]
rule1 = "from builds@circleci.com"

[Old Mail]
rule1 = "date-recieved greater 60"

