<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	com.pewpewthespells.getmail.plist

	Created by Samantha Marshall on 11/29/2016.
	Copyright (c) 2016 Samantha Marshall. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.pewpewthespells.getmail</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/getmail</string>
			<string>--getmaildir</string>
			<string>/Users/Samantha/.config/getmail/</string>
			<string>--new</string>
		</array>
		<key>StartInterval</key>
		<integer>900</integer>
	</dict>
</plist>
